h2{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.wrapper{
    background-color: rgb(255, 199, 95);
}